#nextButton {
	position: fixed;
	bottom: 55px;
	right: 35px;
}

.questionContainer {
	transform: translateY(25%);
}

#questionTextPanel {
	text-align: center;
}

#answerPanel {
	text-align: center;
}

#answerPanel h2 {
	margin: 0 15px 5px 15px;
}

#questionScalePanel h2 {
	margin: 0 15px 5px 15px;
	display: inline-table;
}

label > input {
	visibility: hidden;
	position: absolute;
}

label > input + h2 {
	border: 10px solid transparent;
	/*border-radius: 50%;*/
	padding: 20px;
}

label > input:checked + h2 {
	border: 10px solid green;
	border-radius: 50%;
	padding: 20px;
}

label > input + h2 {
	border: 10px solid transparent;
	/*border-radius: 50%;*/
	padding: 20px;
}

label > input:checked + h2 {
	border: 10px solid green;
	border-radius: 50%;
	padding: 20px;
}