<!--quiz complete change modal-->
<div class="modal fade" id="quizCompleteModal" tabindex="-1" role="dialog" aria-labelledby="completedModalLabel"
     data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="completedModalLabel">Almost Done!</h4>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-info pull-right" ng-click="submitResultsBtnClick()">Finish
				</button>
				<p>Click the "Submit Results" button to submit your answers.</p>
				<p ng-model="resultSendError"></p>
			</div>
		</div>
	</div>
</div>

<form name="questionForm" novalidate ng-hide="currentQuestionNum < 0">
	<div class="questionContainer center-block">

		<!--successful submission confirm message-->
		<div id="sentSuccessMessage" class="jumbotron alert-success" style="display: none">
			<h3 class="center-block">Quiz completed!</h3>
			<div class="btn btn-warning" ng-click="backQuizListBtnClick()">Back to Quiz List</div>
		</div>

		<!--Question-->
		<div id="questionTextPanel" class="well">
			<h3>{{quiz.questions[currentQuestionNum].text}}</h3>
		</div>

		<!--Answers-->
		<div id="answerPanel">
			<div>
				<label ng-repeat="answer in quiz.questions[currentQuestionNum].answers">
					<input type="radio" name="answers" value="answer.answerText"
					       ng-model="response.questionResponses[currentQuestionNum]"
					       ng-required="true"/>
					<h2>{{answer.answerText}}</h2>
				</label>

			</div>
		</div>

	</div>

	<!-- Navigation -->
	<button class="btn btn-lg btn-info" ng-hide="questionForm.$pristine || isEndOfQuizReached()"
	        id="nextButton" ng-click="nextBtnClick()" type="submit">
		<!-- todo ng-hide="questionForm.$invalid || questionForm.$pristine" type="submit"-->
		Next
	</button>

</form>