<!--name entry modal-->
<div class="modal fade" id="enterNameModal" tabindex="-1" role="dialog" aria-labelledby="nameModalLabel"
     data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="nameModalLabel">Welcome</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form name="nameForm" novalidate class="form-group col-lg-10">
						<label for="name">Please enter your name:</label>
						<input ng-model="response.name" ng-required="true" type="text" class="form-control"
						       id="name" placeholder="Name">
						<button type="button" ng-disabled="nameForm.$invalid" class="btn btn-info pull-right"
						        ng-click="enterNameSubmitBtnClick()">Done
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!--eval complete change modal-->
<div class="modal fade" id="evalCompleteModal" tabindex="-1" role="dialog" aria-labelledby="completedModalLabel"
     data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="completedModalLabel">Almost Done!</h4>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-info pull-right" ng-click="finishEvaluationBtnClick()">Finish
				</button>
				<p>Click "Finish" to complete your evaluation.</p>
				<p ng-model="resultSendError"></p>
			</div>
		</div>
	</div>
</div>

<form name="questionForm" novalidate ng-hide="currentQuestionNum < 0">
	<div class="questionContainer center-block">

		<!--Thank you message-->
		<div id="responseSentMessage" class="jumbotron alert-success" style="display: none">
			<h3 class="center-block">Thank you for completing the evaluation.</h3>
			<p>You may close this application.</p>
		</div>

		<!--Question-->
		<div id="questionTextPanel" class="well">
			<button ng-show="evaluation.questions[currentQuestionNum].audioPath" type="submit"
			        class="btn btn-default pull-right" ng-click="playQuestionAudio()">
				<span class="glyphicon glyphicon-volume-up"></span></button>
			<h3>{{evaluation.questions[currentQuestionNum].text}}</h3>

		</div>

		<div id="questionScalePanel">
			<!--Faces Scale-->
			<div ng-show="evaluation.questions[currentQuestionNum].type === 'Faces'">
				<label>
					<input type="radio" name="faces" value="1" ng-model="response.questionResponses[currentQuestionNum]"
					       ng-required="true"/>
					<img src="./img/faces/face1.gif"/>
					<p>Strongly Disagree</p>
				</label>

				<label>
					<input type="radio" name="faces" value="2"
					       ng-model="response.questionResponses[currentQuestionNum]"/>
					<img src="./img/faces/face2.gif"/>
					<p>Disagree</p>
				</label>
				<label>
					<input type="radio" name="faces" value="3"
					       ng-model="response.questionResponses[currentQuestionNum]"/>
					<img src="./img/faces/face3.gif"/>
					<p>Agree</p>
				</label>
				<label>
					<input type="radio" name="faces" value="4"
					       ng-model="response.questionResponses[currentQuestionNum]"/>
					<img src="./img/faces/face4.gif"/>
					<p>Strongly Agree</p>
				</label>

				<br>

				<!--Not applicable Option-->
				<label ng-show="evaluation.questions[currentQuestionNum].type === 'Faces' && evaluation.allowNotApplicable == true"
				>
					<input type="radio" name="faces" value="NA"
					       ng-model="response.questionResponses[currentQuestionNum]"/>
					<h1>N/A</h1>
					<p>Not Applicable</p>
				</label>
				<!--Not applicable Option-->
				<label ng-show="evaluation.questions[currentQuestionNum].type === 'Faces' && evaluation.allowDontKnow == true"
				>
					<input type="radio" name="faces" value="DK"
					       ng-model="response.questionResponses[currentQuestionNum]"/>
					<h1>?</h1>
					<p>Don't Know</p>
				</label>
			</div>

			<!--Descriptive response -->
			<div class="form-group" ng-show="evaluation.questions[currentQuestionNum].type === 'Descriptive'"><textarea
					ng-model="response.questionResponses[currentQuestionNum]" class="form-control" rows="4"
					ng-required="true"></textarea></div>


		</div>

	</div>

	<!-- Navigation -->
	<button class="btn btn-lg btn-info"
	        ng-hide="questionForm.$invalid || questionForm.$pristine || isEndOfSurveyReached()" type="submit"
	        id="nextButton" ng-click="nextBtnClick()">
		Next
	</button>

</form>